.banner {
  background-color: var(--bg-banner);
  color: var(--black);
  padding: 1rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 6rem;
  h3 {
    font-size: 3.6rem;
    font-weight: var(--font-weight-light);
    color: var(--black);
    text-align: center;
  }
}

.bannerMobile {
  background-color: var(--bg-banner);
  color: var(--black);
  padding: 1rem;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  h3 {
    font-size: 3rem;
    font-weight: var(--font-weight-light);
    color: var(--black);
    text-align: center;
  }
}

.values {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}

.valueCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem;
  width: 40rem;
  text-align: center;
  border: 1px solid var(--bg-banner);
  .img {
    width: 7rem;
    margin-bottom: 2rem;
  }
  p{
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }
}

.plus {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
  ul {
    width: 40rem;
    li {
      font-size: 1.5rem;
      line-height: 2rem;
      margin-bottom: 0.5rem;
    }
  }
  .plusFirst {
    align-self: flex-end;
  }
}

.trainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 3rem;
}

.trainerCard {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40rem;
  border: 1px solid var(--primary);
  .trainerCardHeader {
    width: 100%;
    background-color: var(--primary);
    color: #FFF;
    padding: 2rem;
  }
  .trainerInfo {
    padding: 2rem;
    p{
      font-size: 1.5rem;
      margin-bottom: 1.54rem;
    }
  }
}

@media (max-width: 768px) { 
  .banner {
    h3 {
      font-size: 3rem;
    }
  }
  .values {
    flex-direction: column;
    padding: 2rem;
  }
  
  .valueCard {
    padding: 2rem;
    width: 100%;
    p{
      font-size: 1.6em;
      margin-bottom: 0.5rem;
    }
  }

  .plus {
    flex-direction: column;
    padding: 2rem;
    ul {
      width: 100%;
      margin-bottom: 0;
      li {
        font-size: 1.6rem;
        line-height: 2rem;
      }
    }
    .plusFirst {
      align-self: flex-end;
    }
  }

  .trainer {
    flex-direction: column;
    padding: 2rem;
  }
  
  .trainerCard {
    width: 100%;
    .trainerInfo {
      p{
        font-size: 1.6rem;
        margin-bottom: 1rem;
      }
    }
  }
}


