.container {
  display: flex;
  flex-direction: column;
  background-color: var(--secondary);
  .footerLinks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem 30%;
    a {
      color: #fff;
      font-weight: var(--font-weight-regular);
      font-size: 1.5rem;
      transition: all 0.5s ease;
      &:hover {
        color: var(--primary);
      }
    }
  }
  p {
    color: #fff;
    text-align: center;
    font-weight: var(--font-weight-light);
    font-size: 1.5rem;
  }
}