.container {
  display: flex;
  flex-direction: row;
  flex: 1;
  width: 100%;
  justify-content: center;
  align-items: center;
  padding: 2rem 25%;
  background-color: #c28f62;
  h1 {
    font-size: 6rem;
    color: #FFF;
    text-align: center;
    font-family: 'Cinzel', serif;
    font-weight: var(--font-weight-regular);
  }
}

@media (max-width: 768px) { 
  .container {
    padding: 1rem;
    flex-direction: column;
    h1 {
      padding: 0;
      font-size: 3rem;
    }
  }
}